:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --brand-color: #4D5AE5;
    --active-color: #404BBF;
    --accent-color: #E7E9FC;
    --primary-white-color: #FFFFFF;
    --light-color: #F4F4FD;
    --dark-background-color: #2E2F42;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
}

/* Header */

header {
    border-bottom: 1px solid var(--accent-color);
}

.main-nav {
    display: flex;
}

/* Logo */

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-accent {
    color: var(--brand-color);
}

/* Site Nav */

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav-list {
    display: flex;
    margin-left: 76px;
}

.site-nav-list .item+.item {
    margin-left: 40px;
}


.site-nav-list .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    font-weight: 500;
    text-decoration: none;

}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
    color: var(--active-color)
}

/* Contacts */

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts-list {
    display: flex;
}

.contacts-list .item+.item {
    margin-left: 40px;
}

.contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-color);
}

/* Hero */

.hero {
    background-color: var(--dark-background-color);
    text-align: center;
    padding-bottom: 188px;
    padding-top: 188px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
}

.hero-button {
    background-color: var(--brand-color);
    border: 0;
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-color);
}

/* Section */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}

.principles-list .title,
.team-list .title,
.works-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
}

/* Principle section */

.principles-list {
    display: flex;
}

.principles-list .item {
    width: 264px;
}

.principles-list .item+.item {
    margin-left: 24px;
}

/* Services section */

.services {
    padding-top: 0;
}

.services-list {
    display: flex;
}

.services-item+.services-item {
    margin-left: 24px;

}

.services-item img {
    display: block;
}


/* Team section */

.team {
    background-color: var(--light-color);
}

.team-worker {
    background-color: var(--primary-white-color);
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 32px;
}

/* .team-card {
    padding: 32px 0;
} */

.team-worker img {
    display: block;
    margin-bottom: 32px;
}

.team-list {
    display: flex;
}

.team-worker+.team-worker {
    margin-left: 24px;
}

/* Works section */

.works {
    padding-top: 96px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filters .item+.item {
    margin-left: 24px;
}

.filters-button {
    background-color: var(--light-color);
    color: var(--brand-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    text-align: center;
}

.filters-button:hover,
.filters-button:focus {
    background-color: var(--active-color);
    color: var(--primary-white-color);
}

.works-list .work {
    text-decoration: none;
}

.work-description {
    color: var(--primary-text-color);
}

.works-item {
    width: 360px;
    background-color: var(--primary-white-color);
}

.work img {
    display: block;
}

.card {
    padding: 32px 0 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: 0;
}


/* Footer */

.footer {
    background-color: var(--dark-background-color);
    color: var(--accent-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    color: var(--light-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-description {
    width: 264px;
}